@layer base, tailwindcss;

@import "tailwindcss" layer(tailwindcss);

@font-face {
      font-family: "Saira";
      src:
            url("/fonts/Saira/Saira-VariableFont_wdth,wght.ttf") format("truetype"),
            url("/fonts/Saira/Saira-Italic-VariableFont_wdth,wght.ttf") format("truetype");
      font-display: swap;
      size-adjust: 88%;
      ascent-override: 95%;
      descent-override: 20%;
      line-gap-override: 0%;
}

@layer base {
      body {
            min-width: 100vw;
            min-height: 100vh;

            font-family: "Saira", calibri, sans-serif;

            background-color: black;
            
            margin: 0;
            padding: 0;

            overflow-x: hidden;
            overflow-y: auto;

            color: white;
      }

      button {
            cursor: pointer;
      }

      .custom-shiny-button {
            position: relative;
            overflow: hidden;

            --opacity: 0;
      }

      .custom-shiny-button::after {
            content: '';
            position: absolute;
            /* left: 0;
            top: 0; */
            left: var(--mouse-pos-left);
            top: var(--mouse-pos-top);
            opacity: var(--opacity);

            transition: opacity 1s;

            transform: translate(-50%, -50%);

            width: 200%;
            aspect-ratio: 1 / 1;

            background-image: radial-gradient(#fff2, #fff0);
            border-radius: 50%;
      }

      ::selection {
            background-color: #95f;
            color: #111;
      }
}
