---
import { Image } from "astro:assets";

import Thunder from "../../../assets/icons/interactivity.svg";
import Code from "../../../assets/icons/code.svg";
import Brain from "../../../assets/icons/brain.svg";
import Philosophy from "./Philosophy.astro";

---

<span id="about"></span>
<div class="mt-24 md:mt-48 w-full px-2 py-8 border-t border-white/20">
      <div class="flex flex-col w-full items-center p-4">
            <div class="scale-90 opacity-90 flex flex-row items-center gap-4 font-thin border border-white/30 bg-white/5 w-fit px-1 md:px-4 py-2 rounded-full">
                  About Me :3
            </div>
            <h2 class="w-full text-center mt-4 text-6xl font-bold">Engineering <span class="bg-linear-to-r from-accent from-purple-600 to-purple-300 bg-clip-text text-transparent">Philosophy</span></h2>
            <p class="max-w-154 text-center mt-4 text-base md:text-lg font-semibold opacity-75">I built systems that prioritizing user experience. From how they interact with websites to how easy it is to navigate without any lagging issue.</p>
            <p class="max-w-154 text-center mt-4 text-base md:text-lg font-semibold opacity-75">I always seek for better code that integrates clarity between each component functionalities in codebases. Deep down inside me, I have a burning passion to learn, to improve, to innovate, and thrive in this vast field of technology</p>
      </div>
      <div class="mt-8 md:mt-4 w-full flex flex-col md:flex-row gap-4 items-center justify-center">
            <Philosophy 
                  title="Performance"
                  description="Every seconds matters. I always want to achieve best performant systems that are reliable and lag-free"
                  image={Thunder}
            />
            <Philosophy 
                  title="Neat Code"
                  description="Development is a really important process. I don't want debugging takes a long time because of cluttered codes"
                  image={Code}
            />
            <Philosophy 
                  title="Learn & Adapt"
                  description="There are a lot of technologies that we can learn but, as long as our brain still working, I believe we can master anything"
                  image={Brain}
            />
      </div>
</div>