---

---

<footer class="relative mt-28 w-full p-8 flex flex-row justify-between border-t border-white/20">
      <div class="flex flex-row justify-start items-center font-semibold opacity-75">
            © 2026 Ridwan Bagoes Setiawan. All Rights Reserved.
      </div>
      <div class="font-semibold opacity-75">
            Built with 💖 and <span class="text-purple-400">Precision</span>
      </div>
</footer>