---
import "../styles/global.css";
import SEO from "../components/global/SEO.astro";
---

<html lang="en">
    <head>
        <SEO />
    </head>
    <body>
        <slot />
        
        <!-- Cloudflare Web Analytics -->
        <script is:inline defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "36741225319341c6bf74f38634edc842"}'></script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html>
